/*contenedores principales*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(45, 45, 45);
}

main{
    display: block;
}

header {
    width: 100%;
    margin-bottom: 1.3rem;
    background-color: #171717;
}

header >#logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

h2{
    font-size: 2.1rem;
    font-weight: 750;
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
    color: rgba(201, 201, 201, 0.905);
    font-family: 'Courier New', Courier, monospace;
}
main > p {
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    margin-left: 2rem;
    border-radius: 9px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(223, 157, 3);
    width: 17%;
}

header > #logo > h1 {
    margin-left: 30%;
    text-transform: uppercase;
    font-family: 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    font-weight: 900;
}

#logo > img{ 
    width: 10%;
    border-radius: 50%;
}

/* ----- NAVBAR ----- */

.header-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(203, 203, 203);

}

#nav {
    display: flex;
    justify-content: center;
    width: 100%;  
}

.nav-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
}


.nav-ul li{
    width: 100%;
    padding: 3%;
    font-size: 80%;
    font-family: Tahoma, sans-serif, 'Times New Roman', serif;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.nav-ul li >a {
    text-decoration: none;
    width: 20%;
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
}

.nav-ul li:hover {
    background-color: rgba(0, 232, 162, 0.774);
}

.nav-ul li >a:hover {
    color: rgb(255, 132, 0);
}

/* Hamburguesa hidden */
.menu-icon {
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    display: none;
    z-index: 2;
}
.menu-toggle {
    display: none;
    z-index: 2;
}
/* Muestra el Menu:  on click */
.menu-toggle:checked ~ nav {
    display: flex;

}
/* Cruz icon hidden */
#label2 {
    display: none;
}
/* Oculta el icon Hamburguesa */
.menu-toggle:checked ~ #label{
    opacity: 0;
}
/* Muestra el Icono de cruz de cerrar */
.menu-toggle:checked ~ #label2{
    display: block;
}
.flex {
    display: flex;
    top: 0;
    right: 0;
}
@media screen and (max-width: 768px) {
    .menu-icon {
        z-index: 1;
        transition: right 0.3s ease;
    }
}
/* ----- ----- ----- */


.barraDePeliculas, #peliculaRandom{
    background-color: rgba(69, 69, 69, 0.611);
    margin-bottom: 3%;
    border-radius: 9px;
    padding: 1rem;
}

#peliculaRandom{
    display: grid;
    grid-template-columns: auto;
    grid-row: 40%;
    text-align: center;
    justify-content: center;
    margin: 0% 30% 4% 30%;
    padding: 1% 3% 1% 3%
}

.peliculas{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-row: auto;
}

.cajaDePelicula{
    margin: 5% 0% 2% 0% ;
    text-align: center;
}

.topPeliculas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    font-size: 1.7rem;
    padding: 3rem;
    background-color: #134a4f;
    margin-bottom: 4rem;
}

/*texto o imagnes*/
#imagenRandom{
    width: 40%;
    height: 50%;
}
figure{
    margin: 0%;
}
h1, figcaption, p{
    color: rgb(40, 232, 101);
    margin: 1%;
}
figure > img{
    border-radius: 8px;
    width: 80%;
    height: 90%;
    border: 8px solid white;
    border-radius: 8px;
    ;
}
img {
    border: 4px solid transparent; 
    transition: border-color 0.3s;
}
img:hover {
    border: 8px solid rgba(0, 121, 62, 0.771);
    cursor: pointer;
}

figcaption{
    text-decoration-line: underline;
}

/* --- Form Register ---*/
.div-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1rem;
    background-color: rgba(0, 85, 78, 0.355);
    color: rgb(255, 255, 255);
    padding: 1rem;
}

.div-form form {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.div-form form input {
    padding: 1rem;
    color: black;
    font-size: 1.1rem;
    border: none;
    border-bottom:solid blue 2px ;
    border-radius: 0.2rem;
    margin-bottom: 0.9rem;
    background-color: rgb(224, 224, 224);
    outline: none;
}

.div-form form label{
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.div-form form p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: black;
    font-size: 0.9rem;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: white;
}

.div-form form p >a {
    text-decoration: none;
    color: rgb(89, 156, 2);
}

.div-form form button {
    background-color: rgba(68, 170, 137, 0.673);
    color: aliceblue;
    padding: 1rem;
    border: none;
    border-radius: 0.4rem;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.1rem;
}

footer {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    padding: 1rem;
}

footer ul li{
    list-style: none;
    margin: 0.5rem;
}

footer h3{
    padding: 1rem;

}

@media (max-width: 500px) {
    footer {
      flex-direction: column;
    }
}


@media (min-width: 900px) {
    .div-form form {
        width: 60%;
    }
}

@media (min-width: 1100px) {
    .div-form form {
        width: 50%;
    }
}

@media (min-width: 1300px) {
    .div-form form {
        width: 40%;
    }
}
